<footer>
        <div class="footer-one">
            <h3>Contact details</h3>
            <div>170 Bd des Alizées 69001</div>
            <div>firsniahousing@gmail.com</div>


        </div>
        <div class="footer-two">
            <h3>NAVIGATION</h3>
            <a href="/index.php">Home</a>
            <a href="">Our services</a>
            <a href="">About</a>
            <a href="">Contact</a>


        </div>
        <div class="footer-three">
            <h3>Our products</h3>
            <a href="">Houses</a>
            <a href="">Apartements</a>
            <a href="">Locals</a>
            <a href="">Offices</a>

        </div>
        <div class="footer-four">
            <div class="socialnetworks">
                <a href=""><img class="icon" src="{{ asset('image/facebook.png') }}"  alt=""></a>
                <a href=""><img class="icon" src="{{ asset('image/instagram.png') }}"  alt=""></a>
                <a href=""><img class="icon" src="{{ asset('image/linkedin.png') }}"  alt=""></a>
                <a href=""><img class="icon" src="{{ asset('image/twitter-alt.png') }}"  alt=""></a>


            </div>
            <div class="help">
                <a href="">Help</a>
                <img class="icon" src="/asset/image/commentaire-question.png" alt="">
            </div>

        </div>

    </footer>